[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"

[packages]
flask = "*"
flask-restplus = "*"
flask-jwt-extended = "*"
peewee = "*"
redis = "*"
marshmallow = "==3.0.0rc4"
webargs = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
