[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"

[packages]
flask = "*"
flask-restplus = "*"
flask-jwt-extended = "*"
peewee = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
