@mixin if-hover-enabled {
  @media (hover: hover) {
    @content;
  }
}

@mixin if-hover-disabled {
  @media (hover: none) {
    @content;
  }
}

@mixin grow-on-hover($scale-val: 1.05) {
  transition: transform .2s ease-in-out;

  $grow-prop: transform; $grow-val: scale(1.05);
  @include if-hover-enabled {
    &:hover, &:focus {
      #{$grow-prop}: $grow-val;
    }
  }
}

@mixin media-query($device, $type: min) {
  $breakpoints: (
          phone-small: 320px,
          phone: 400px,
          phone-wide: 480px,
          phone-tablet: 560px,
          tablet-small: 640px,
          tablet: 768px,
          tablet-wide: 1024px,
          desktop: 1248px,
          desktop-wide: 1440px
  );

  @if map_has_key($breakpoints, $device) {
    $width: map_get($breakpoints, $device);
    @if $type == max {
      $width: $width - 1;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
