@mixin if-hover-enabled {
  @media (hover: hover) {
    @content;
  }
}

@mixin grow-on-hover($scale-val: 1.05) {
  transition: transform .2s ease-in-out;

  $grow-prop: transform; $grow-val: scale(1.05);
  @include if-hover-enabled {
    &:hover, &:focus {
      #{$grow-prop}: $grow-val;
    }
  }
}
