version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3-node
        environment:
          FLASK_SECRET_KEY: testing
          INTEL_BUFFER_DB_USER: root
          INTEL_BUFFER_DB_PASS: pass
          REDIS_DB_PASS: pass

      - image: circleci/mysql:latest
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: 3306
          MYSQL_DB: intel_buffer_test_db
          MYSQL_USER: root
          MYSQL_PASSWORD: pass

    steps:
      - checkout

      - run:
          name: grant circleci access to backend dependency locations
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages 

      - restore_cache:
          keys:
          - ib-{{ .Branch }}-{{ .BuildNum }}-{{ epoch }}-{{ checksum "backend/Pipfile.lock" }}-{{ checksum "frontend/package.json" }}
          - ib-

      - run:
          name: install pipenv
          command: cd backend && pip install pipenv

      - run:
          name: install all backend dependencies
          command: cd backend && pipenv install --dev

      - run:
          name: install frontend dependencies
          command: cd frontend && npm install

      - save_cache:
          key: ib-{{ .Branch }}-{{ .BuildNum }}-{{ epoch }}-{{ checksum "backend/Pipfile.lock" }}-{{ checksum "frontend/package.json" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.7/site-packages"
            - node_modules

