version: 2.1

jobs:
  build:
    docker:
      - image: shenoyprathamesh123/py-node-mysql:0.0.1

    steps:
      - checkout

      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - run:
          name: Check if python, node, and mysql are installed
          command: |
            python --version
            node --version
            mysql --version
