version: 2.1

jobs:
  build:
    docker:
      # this gets the latest version of python and node which might break the
      # build if python or node suddenly release a backwards incompatible update.
      - image: circleci/python:3-node
        environment:
          FLASK_SECRET_KEY: testing
          INTEL_BUFFER_DB_USER: root
          INTEL_BUFFER_DB_PASS: pass
          REDIS_DB_PASS: ''

      - image: circleci/mysql:latest
        command: |
          mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: 3306
          MYSQL_DATABASE: intel_buffer_test_db
          MYSQL_ROOT_PASSWORD: pass

      - image: redis:5.0.3

    steps:
      - checkout

      - run:
          name: Grant CircleCi Access to Backend Dependency Locations
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages

      - restore_cache:
          keys:
          - ib-{{ .Branch }}-{{ checksum "backend/Pipfile.lock" }}-{{ checksum "frontend/package.json" }}
          - ib-

      - run:
          name: Install Pipenv
          command: cd backend && pip install pipenv

      - run:
          name: Install Backend Dependencies
          command: cd backend && pipenv install --dev

      - run:
          name: Install Frontend Dependencies
          command: cd frontend && npm install

      - save_cache:
          key: ib-{{ .Branch }}-{{ checksum "backend/Pipfile.lock" }}-{{ checksum "frontend/package.json" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.7/site-packages"
            - node_modules

      - run:
          name: Frontend Tests
          command: cd frontend && npm run test:unit

      - run:
          # needed for backend to run some quick checks using the compiled dist folder.
          name: Compile Frontend
          command: cd frontend && npm run build

      - run:
          name: Flake8 Linting
          command: cd backend && pipenv run flake8

      - run:
          name: Bandit Security Linting
          command: cd backend && pipenv run bandit -r . -c bandit.yml

      - run:
          name: Backend Tests With Coverage
          command: cd backend && pipenv run python -m pytest --cov
