version: 2.1

jobs:
  test:
    docker:
      - image: shenoyprathamesh123/py-node-mysql:0.0.1

    steps:
      - checkout

      - run:
          name: Check if python, node, and mysql are installed
          command: |
            python --version
            node --version
            mysql --version
